.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.label {
    margin-top: 5px;
    display: block;
}

.inline {
    display: inline;
}

#check {
    margin-top: 5px;
    display: block;
}

#options {
    display: block;
}

.goods {
    display: flex;
    flex-direction: column;
    margin: 10px 15px 0px;
}